.white-popup {
  width: 80%;
  margin-left: 10%;
  height: 85vh;
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 40px;
}

#siteWrapper {
  main {
    max-width: 1240px;

    .main-content {
      .calculator-wrap {
        font-family: Patua One;
        width: 100%;
        height: fit-content !important;
        box-sizing: border-box;
        position: relative;
        background-color: #3fa2e2;
        border-radius: 6px;

        .calcualtor-heading {
          margin: 0 0 0 5%;
          left: 0;
          position: relative;
          top: 25px !important;
          right: 0;
          color: white;

          h4 {
            font-size: 42px;
            margin: 35px 0 0 20px;
            letter-spacing: 2px;
            text-align: left;
          }

          p {
            font-size: 24px;
            margin: 10px 0 0 20px;
            text-align: left;

            &:first-of-type {
              margin-top: 15px
            }
          }
        }

        .calcualtor-bottom {
          margin: 60px 5% 0 5%;
          left: 0;
          position: relative;
          right: 0;
          color: #fff;

          h4 {
            font-size: 18px;
            display: inline-block;
            margin: 0;
            width: 30%;
          }

          .price {
            text-align: center;
            width: 100px;
            font-size: 70px;
            margin-left: 12% !important;
            height: 0;
            display: inline-block;
          }

          .mods {
            text-align: right;
            float: right;
            width: auto;
            font-size: 18px;
            height: 0;
            display: inline-block;
          }

          p {
            font-size: 22px;
            margin-top: 30px !important;
            margin-bottom: 0;
            text-align: center;
          }

          .stamp-container {
            width: 100%;
            margin-bottom: 10px;
            margin-top: 35px;
            position: relative;
            height: 120px;

            .stamp {
              width: 30%;
              margin-left: 1.5%;
              height: inherit;
              display: inline-block;
              background-image: url(/assets/images/stamp-v1.png);
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 6px;
              cursor: pointer;
              -webkit-box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);
              -moz-box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);
              box-shadow: 0px 0px 30px 12px rgba(255,255,255,1);

              &:hover {
                box-shadow: 0px 0px 30px 12px #0075bf;
              }
            }

            .stamp-p {
              display: inline-block;
              width: 38%;
              float: left;
              margin-top: 43px;
              font-size: 18px;
            }

            .apply-stamp {
              display: inline-block;
              width: 14%;
              float: right;
              text-align: center;
              background-color: #0075bf;
              border-radius: 6px;
              color: white;
              padding: 20px;
              margin-top: -0.5%;

              .text {
                font-size: 14px;
                line-height: 18px;
              }

              .stamp-mod {
                display: inline-block;
                width: 85%;
                height: 34px;
                margin-top: 15px;
                line-height: 36px;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                border: 2px solid #40cc07;
                background-color: #1080c8;
                color: #cfe8f8;
                border-radius: 6px;
                cursor: pointer;
                user-select: none;

                &.no {
                  border: 2px solid #da9197;
                  background-color: #c6e9ff;
                  color: #0075bf;
                }
              }
            }
          }
        }

        .double-option, .double-option-2 {
          position: relative;
          margin: 36px 0 0 6.5%;
          top: 0 !important;
          left: 0;
          right: 0;
          color: #fff;
          width: 60.25%;
          height: 46px;
          background-color: #0075bf;
          border-radius: 6px;

          p {
            font-size: 20px;
            margin: 10px 0 0 10px;
            text-align: left;
            float: left;
          }

          .double-mod, .double-mod-2 {
            display: inline-block;
            width: 168px;
            height: 42px;
            line-height: 43px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            border: 2px solid #40cc07;
            background-color: #1080c8;
            color: #cfe8f8;
            border-radius: 6px;
            float: right;
            cursor: pointer;
            user-select: none;

            &.no {
              border: 2px solid #da9197;
              background-color: #cfe8f8;
              color: #1080c8;
            }
          }
        }

        .double-option-2 {
          top: 0 !important;
          margin-top: 12px;
        }

        .window-wrap {
          width: 100%;
          padding: 10px 0;
          position: relative;
          top: 12px;

          .section {
            width: 100%;
            border-radius: 6px;
            background-color: #c6e9ff;

            &:not(:first-of-type) {
              margin: 15px 0 0;
            }

            .section-heading {
              display: block;
              width: 100%;
              font-size: 24px;
              text-transform: capitalize;
              color: white;
              height: 40px;
              line-height: 40px;
              cursor: pointer;
              user-select: none;

              .arrow, .category-name {
                display: inline-block;
                margin-left: 5px;
              }

              .arrow {
                width: 32px;
                margin-top: 4px;
                height: 32px;
                float: left;
                margin-left: 20px;
                background-image: url(/assets/images/arrow-up.png);

                &.down {
                  background-image: url(/assets/images/arrow-down.png);
                  background-size: fit-content;
                }
              }
            }

            .window-container {
              width: 100%;
              height: fit-content;
              display: flex;
              flex-flow: wrap;
              justify-content: center;
              padding: 10px 0;
              height: fit-content;

              .window {
                width: 15%;
                height: 160px;
                display: inline-flex;
                position: relative;
                background-color: #cfe8f8;
                margin: 7px;
                border-radius: 6px;

                &:hover {
                  background-color: #b7daf1;
                }

                &.selected {
                  background-color: #72c3f7;;
                }

                .qty-mngmt {
                  position: absolute;
                  top: 0;
                  height: 24px;
                  z-index: 500;
                  width: 100%;

                  .w-plus, .w-minus {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    float: left;
                    background-size: contain;
                    cursor: pointer;
                    margin: 2px 0 0 2px;
                    background-color: white;
                  }

                  .w-plus {
                    background-image: url(/assets/images/plus.png);
                    margin-left: 3px;
                  }

                  .w-minus {
                    background-image: url(/assets/images/minus.png);
                  }

                  .qty {
                    display: inline-block;
                    float: right;
                    background-color: #fff;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    font-weight: 900;
                    color: #0075bf;
                    border-radius: 0 6px;
                  }
                }

                .image-holder {
                  position: absolute;
                  width: 94%;
                  height: 94%;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  z-index: 400;
                  cursor: pointer;

                  & > div {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                  }

                  .neutral {
                    &.a {
                      background-image: url(/assets/images/win-1.png);
                    }
                    &.b {
                      background-image: url(/assets/images/win-2.png);
                    }
                    &.c {
                      background-image: url(/assets/images/win-3.png);
                    }
                    &.d {

                      background-image: url(/assets/images/win-4.png);
                    }
                    &.e {
                      background-image: url(/assets/images/win-5.png);
                    }
                    &.f {
                      background-image: url(/assets/images/win-6.png);
                    }
                    &.g {
                      background-image: url(/assets/images/win-7.png);
                    }
                    &.h {
                      background-image: url(/assets/images/win-8.png);
                    }
                    &.i {
                      background-image: url(/assets/images/win-9.png);
                    }
                    &.j {
                      background-image: url(/assets/images/win-10.png);
                    }
                    &.l {
                      background-image: url(/assets/images/win-11.png);
                    }
                    &.m {
                      background-image: url(/assets/images/win-12.png);
                    }
                    &.n {
                      background-image: url(/assets/images/win-13.png);
                    }
                    &.o {
                      background-image: url(/assets/images/win-14.png);
                    }
                    &.p {
                      background-image: url(/assets/images/win-15.png);
                    }
                    &.q {
                      background-image: url(/assets/images/win-16.png);
                    }
                    &.r {
                      background-image: url(/assets/images/win-17.png);
                    }
                    &.s {
                      background-image: url(/assets/images/win-18.png);
                    }
                    &.t {
                      background-image: url(/assets/images/win-19.png);
                    }
                    &.v {
                      background-image: url(/assets/images/win-20.png);
                    }
                    &.x {
                      background-image: url(/assets/images/win-21.png);
                    }
                    &.y {
                      background-image: url(/assets/images/win-22.png);
                    }
                    &.z {
                      background-image: url(/assets/images/win-23.png);
                    }
                    &.zz {
                      background-image: url(/assets/images/win-24.gif);
                    }
                    &.za {
                      background-image: url(/assets/images/win-25.png);
                    }
                    &.zb {
                      background-image: url(/assets/images/win-26.png);
                    }
                    &.zc {
                      background-image: url(/assets/images/win-27.png);
                    }
                    &.ze {
                      background-image: url(/assets/images/win-28.png);
                    }
                    &.zf {
                      background-image: url(/assets/images/win-29.png);
                    }
                    &.zg {
                      background-image: url(/assets/images/win-30.png);
                    }
                    &.zh {
                      background-image: url(/assets/images/win-31.png);
                    }
                    &.zi {
                      background-image: url(/assets/images/win-32.png);
                    }
                    &.zj {
                      background-image: url(/assets/images/win-33.png);
                    }
                    &.zl {
                      background-image: url(/assets/images/win-34.png);
                    }
                    &.zm {
                      background-image: url(/assets/images/win-35.png);
                    }
                    &.zn {
                      background-image: url(/assets/images/win-36.png);
                    }
                    &.zo {
                      background-image: url(/assets/images/win-37.png);
                    }
                    &.zp {
                      background-image: url(/assets/images/win-38.png);
                    }
                    &.zq {
                      background-image: url(/assets/images/win-39.png);
                    }
                    &.zr {
                      background-image: url(/assets/images/win-40.png);
                    }
                    &.zs {
                      background-image: url(/assets/images/win-41.png);
                    }
                    &.zt {
                      background-image: url(/assets/images/win-42.png);
                    }
                    &.zv {
                      background-image: url(/assets/images/win-43.png);
                    }
                    &.zw {
                      background-image: url(/assets/images/win-44.png);
                    }
                    &.zx {
                      background-image: url(/assets/images/win-45.png);
                    }
                    &.zy {
                      background-image: url(/assets/images/win-46.png);
                    }
                  }

                  .selected {
                    display: none;
                  }
                }
                &.small {
                  .image-holder {
                    width: 65%;
                    height: 65%;
                  }
                }
              }

              &.closed {
                display: none;
              }
            }
          }
        }
      }
    }

    #textarea-yui_3_17_2_1_1530447108824_44215 {
      display: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          height: 1540px;

          .calcualtor-heading {
            margin: -5px 0 0 0;

            h4 {
              text-align: center;
              margin-left: 0;
            }

            p {
              text-align: center;

              &:first-of-type {
                margin-top: 20px;
              }
            }
          }

          .calcualtor-bottom {
            bottom: 10px;
            margin: 45px 0 0 0;

            h4 {
              width: 100%;
              text-align: center;
            }

            .price {
              width: 100%;
              margin: 15px 0 0 0;
            }

            .mods {
              display: block;
              width: 100%;
              text-align: center;
              height: auto;

              br {
                display: none;
              }
            }

            p {
              text-align: center;
            }
          }

          .double-option {
            margin: 35px auto 0 auto;
          }

          .double-option-2 {
            margin: 12px auto 0 auto;
          }

          .double-option-2,.double-option {
            p {
              font-size: 18px;
            }
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  width: 23%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          height: 1495px;

          .calcualtor-heading {
            top: 20px !important;

            h4 {
              font-size: 32px;
              margin-top: 20px;
            }

            p {
              font-size: 18px;
              margin-top: 10px;
              margin-left: 0;

              &:first-of-type {
                margin-top: 10px;
              }
            }
          }

          .calcualtor-bottom {
            bottom: 10px;
            margin: 40px 0 0 0;

            h4 {
              font-size: 32px;
            }

            .price {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }
          }

          .double-option {
            p {
              font-size: 16px;
            }
          }

          .double-option-2 {
            top: 155px;

            p {
              font-size: 16px;
            }
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  margin: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          .calcualtor-heading {
            h4 {
              font-size: 24px;
              margin-top: 15px;
            }

            p {
              font-size: 14px;

              &:first-of-type {
                margin-top: 0;
              }
            }
          }

          .calcualtor-bottom {
            bottom: 0px;
            margin-top: 31px;

            h4 {
              font-size: 24px;
            }

            .price {
              font-size: 32px;
              margin-top: 8px;
            }

            p {
              font-size: 14px;
              margin-top: 0;
            }
          }

          .double-option, .double-option-2 {
            width: 89%;
            font-size: 16px;
            height: 36px;

            p {
              margin-top: 4px;
            }

            .double-mod, .double-mod-2 {
              width: 128px;
              height: 32px;
              line-height: 32px;
              font-size: 14px;
            }
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  .qty-mngmt {
                    .w-plus, .w-minus {
                      width: 25px;
                      height: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          .window-wrap {
            .section {
              .window-container {
                .window {
                  width: 31%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 505px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          .calcualtor-heading {
            h4 {
              letter-spacing: 0;
              font-size: 18px;
            }

            p {
              font-size: 13px;
            }
          }

          .calcualtor-bottom {
            margin-top: 24px;

            h4 {
              font-size: 18px;
            }

            .price {
              font-size: 28px;
              margin-top: 4px;
            }

            p {
              font-size: 13px;
              margin-top: 0;
            }
          }

          .double-option, .double-option-2 {
            top: 75px;

            p {
              font-size: 14px;
            }
          }

          .double-option-2 {
            top: 123px;
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  margin: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          height: 2355px;

          .calcualtor-heading {
            h4 {
              letter-spacing: 0;
              font-size: 18px;
            }

            p {
              font-size: 13px;
            }
          }

          .calcualtor-bottom {
            bottom: 5px;

            h4 {
              font-size: 16px;
              line-height: 16px;
            }

            .price {
              font-size: 26px;
              margin-top: 4px;
            }

            p {
              margin-top: 4px;
              line-height: 14px;
            }
          }

          .double-option, .double-option-2 {
            width: 94%;

            .double-mod, .double-mod-2 {
              width: 64px;
            }
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  width: 47%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 355px) {
  #siteWrapper {
    main {
      .main-content {
        .calculator-wrap {
          height: 2350px;

          .calcualtor-heading {
            top: 15px !important;

            h4 {
              font-size: 16px;
            }

            p {
              line-height: 13px;
            }
          }

          .double-option, .double-option-2 {
            width: 94%;

            p {
              font-size: 11px;
            }
          }

          .window-wrap {
            .section {
              .window-container {
                .window {
                  margin: 3px;
                }
              }
            }
          }
        }
      }
    }
  }

  #textarea-yui_3_17_2_1_1530877888783_52766 {
    display: none;
  }
  #block-yui_3_17_2_1_1530891324725_8960 {
    display: none !important;
  }
}